<div class="container">
  <div class="row gutters">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
      <div class="card h-100">
        <div class="card-body">
          <div class="account-settings">
            <div class="user-profile">
              <div class="user-avatar">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Maxwell Admin">
              </div>
              <h5 class="user-name">{{username}}</h5>
              <h6 class="user-email">{{email}}</h6>
            </div>
            <div class="about">
              <h5>{{role}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
      <div class="card h-100">
        <div class="card-body">
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <h6 class="mb-2 text-primary">Data Diri</h6>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="fullName">Nama Depan</label>
                <input type="text" class="form-control" id="fullName" [(ngModel)]="firstName" placeholder="Masukkan Nama Depan">
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="eMail">Nama Belakang</label>
                <input type="text" class="form-control" id="fullName" [(ngModel)]="lastName" placeholder="Masukkan Nama Belakang">
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="phone">Email</label>
                <input type="email" class="form-control" disabled="true" [value]="email" id="eMail" placeholder="Masukkan Email">
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="website">Password</label>
                <input type="password" [(ngModel)]="password" [disabled]="lock" class="form-control" id="website" placeholder="Buka gembok untuk update password">
                <button class="btn btn-outline-primary" (click)="toggleGembok()" [ngClass]="{'lock' : lock,'open-lock' : !lock}"></button>
              </div>
            </div>
          </div>
          <!--
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <h6 class="mt-3 mb-2 text-primary">Alamat</h6>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="Street">Jalan</label>
                <input type="name" class="form-control" id="Street" placeholder="Nama Jalan">
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="ciTy">Kota</label>
                <input type="name" class="form-control" id="ciTy" placeholder="Nama Kota">
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="sTate">Provinsi</label>
                <input type="text" class="form-control" id="sTate" placeholder="Nama Provinsi">
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="zIp">Kode Pos</label>
                <input type="text" class="form-control" id="zIp" placeholder="Kode Pos">
              </div>
            </div>
          </div>
          -->
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="text-right">
                <button type="button" id="submit" (click)="batal()" name="submit" class="btn btn-outline-secondary">Cancel</button>
                <button type="button" id="submit" [disabled]="firstName===''&&lastName===''&&password===''" (click)="updateAkun()" name="submit" class="btn btn-outline-primary">Update</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
