<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <!--  This file has been downloaded from bootdey.com @bootdey on twitter -->
  <!--  All snippets are MIT license http://bootdey.com/license -->
  <title>SparkIndo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
  <!--naviagation-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="font-weight: 300;">SparkIndo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" aria-current="page" href="/parkir">Parkir</a>
          </li>
          <li *ngIf="getAkunRole()=='ADMIN'||getAkunRole()=='OWNER'" name="text" class="nav-item">
            <a class="nav-link" href="/management-transaction">Manajemen Transaksi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="getAkunRole()=='ADMIN'||getAkunRole()=='OWNER'" href="/management-parkir">Manajemen Parkir</a>
          </li>
          <li *ngIf="isUserLogin()" class="nav-item">
            <a class="nav-link" href="/setting">Setting</a>
          </li>
          <li *ngIf="isUserLogin()" class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          <li class="nav-item dropdown">
            <a *ngIf="!isUserLogin()" class="nav-link dropdown-toggle" href="/login" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Akun
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/login">Login</a>
              <a class="dropdown-item" href="/register">Sign Up</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>

</body>

</html>
